:root {
    --pregunta: brown;
}

div.pregunta {
    color: var(--pregunta);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pregunta   pregunta ."
        ".          resposta resposta";
}
